<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <h1>WebSocket Chat</h1>
        <h2>Your ID: <span id="ws-id"></span></h2>
        <form action="" onsubmit="sendMessage(event)">
            <input type="text" id="userId" autocomplete="off"/>
            <input type="text" id="messageText" autocomplete="off"/>
            <button>Send</button>
        </form>
        <ul id='messages'>
        </ul>
        
        <script>
            var client_id = Date.now()
            document.querySelector("#ws-id").textContent = client_id;
            var ws = new WebSocket(`ws://localhost:8005/ws/${client_id}`);
            // document.querySelector("#userId").textContent = client_id;
            // var ws = new WebSocket(`ws://localhost:8005/ws`);
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.appendChild(content)
                messages.appendChild(message)
            };
            function sendMessage(event) {
                var input = document.getElementById("messageText")
                var messageData = {
                    sender_id: 1, // parseInt(senderId),  // Convert to integer if necessary
                    receiver_id: 2, // parseInt(receiverId),  // Convert to integer if necessary
                    message: input.value
                };
                // ws.send(input.value)
                ws.send(JSON.stringify(messageData));
                input.value = ''
                event.preventDefault()
            }
        </script>
</body>
</html>